*, 
::after, 
::before {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

input, 
button, 
textarea, 
select {
    font: inherit;
    outline: none;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
}