//---------------------------
//
// Typography
//
//---------------------------

h1,
.heading-one {
	@include modularscale(3, 3, 4, 4);
}

h2,
.heading-two {
	@include modularscale(2, 2, 3, 3);
}

h3,
.heading-three {
	@include modularscale(2, 2, 2, 2);
}

h4,
.heading-four {
	@include modularscale(1, 1, 1, 1);
}

h1,
h2,
h3,
h4 {
	margin: vrrem(1) 0;
}

p {
	margin-bottom: vrrem(1);
}

a {
	&:hover {
		text-decoration: none;
	}
}
