//---------------------------
//
// Typography
//
//---------------------------

h1,
.heading-one {
	font-size: 51px;
}

h2,
.heading-two {
	font-size: 40px;
}

h3,
.heading-three {
	font-size: 30px;
}

h4,
.heading-four {
	font-size: 23px;
}

h1,
h2,
h3,
h4 {
	margin: 23.4px 0;
}

p {
	margin-bottom: 23.4px;
}

a {
	&:hover {
		text-decoration: none;
	}
}
